html, body {
  height: 100%;
  width: 100%;
  margin:0
}

p {
  line-height: 16px;
  font-size: 14px;
}

#mapContainer {
  height: 100%;
  width: 100%;
  background: lightgray;
  margin: 0 auto;
}

#sidebar {
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 15px;
  background-color: lightgray;
  overflow: scroll;
}

.info-box {
  top: 2px;
  left: 5px;
  z-index: 10;
  background-color: #c3c3c3;
  padding: 15px;
  padding-top: 10px;
  margin-bottom:15px
}


.legend {
  line-height: 16px;
}

.labels {
  font-size: 14px;
  font-weight: bold;
}

h3 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 1rem;
}

h4 {
  margin-top: 3px;
}

button {
  padding: 3px;
  border-radius: 2px;
  background-color: #c3c3c3;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
  border-color: #c3c3c3;
}

.legend-color-box {
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 10px;
}

/* button {
  width: 100px;
  height: 25px;
  align-content: center;
} */

button:focus {
  background-color: gray;
}
