html, body {
  height: 100%;
  width: 100%;
  margin:0;
  font-family: "Palatino";
}


p {
  line-height: 16px;
  font-size: 14px;
}

#mapContainer {
  height: 100%;
  width: 100%;
  background: lightgray;
  margin: 0 auto;
}

#sidebar {
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 15px;
  background-color: #DCD0C0;
  overflow: scroll;
}

.info-box {
  top: 2px;
  left: 5px;
  z-index: 10;
  background-color: #f4f4f4;
  padding: 15px;
  padding-top: 10px;
  margin-bottom:15px
}


.legend {
  line-height: 18px;
}

.labels {
  font-size: 12px;
}

.labels-1 {
  font-size: 14px;
  font-weight: bold;
}

#address {
  font-weight: bold;
}

h3 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 1rem;
}

h4 {
  margin-top: 3px;
}

/* button {
  padding: 3px;
  border-radius: 2px;
  background-color: #c3c3c3;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
  border-color: #c3c3c3;
} */

button {
  background-color: #C0B283; /* Green */
  border: none;
  color: white;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Palatino";
}

.legend-color-box {
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 10px;
}

/* button {
  width: 100px;
  height: 25px;
  align-content: center;
} */

button:focus {
  background-color: #E37222;
}
